.wrapper {
    border: 1px solid black;
    border-radius: 15px;
    padding: 18px 21px;
    height: fit-content;
    &_small {
      grid-column: span 1;
    }
  
    &_medium {
      grid-column: span 2;
    }
  
    &_large {
      grid-column: span 3;
    }
  
    &_full {
      grid-column: span 4;
    }
    .card_header {
      display: flex;
      justify-content: space-between;
      // margin-bottom: 30px;
      .card_header_content {
        display: flex;
        flex-direction: column;
        &_label {
          font-size: 12px;
          font-weight: 700;
          line-height: 18px;
        }
        &_main {
          font-size: 18px;
          font-weight: 700;
          line-height: 25px;
        }
      }
    }
    .card_content {
      ul {
        list-style: none;
        // background-color: red;
        margin-top: 30px;
        a {
          // background-color: antiquewhite;
          display: flex;
          justify-content: space-between;
          margin-bottom: 44px;
          font-size: 16px;
          font-weight: 700;
          div {
            // background-color: orange;
            width: 85px;
            display: flex;
            justify-content: space-between;
          }
        }
        a:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  